@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@layer base {
  body {
    font-family: 'Arial', sans-serif;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.toast {
  // position: fixed;
  // top: 20px;
  // right: 20px;
  background-color: #33364d;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  // animation: slideInRight 0.4s ease, fadeOut 0.5s ease 4.5s;
  // animation-fill-mode: forwards;
  z-index: 9999;
}

@keyframes toast-progress {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.animate-toast-progress {
  animation: toast-progress 5s linear forwards;
  transform-origin: right;
}